.page-register .header {
  border-bottom: 2px solid #2bb8aa;
  min-width: 980px;
  color: #666;
}

.page-register .header header {
  margin: 0 auto;
  padding: 10px 0;
  width: 980px;
}

.page-register .header header .site-logo {
  display: inline-block;
  width: 128px;
  width: 54px;
  height: 36px;
  text-indent: -9999px;
  background-position: -669px -748px;
  background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
}

.page-register .header header .login {
  float: right;
}

.page-register .header header .bold {
  font-style: normal;
}

.page-register > section {
  margin: 0 auto 30px;
  padding-top: 30px;
  width: 980px;
  min-height: 300px;
  padding-right: 550px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-register > section .status {
  font-size: 12px;
  margin-left: 20px;
  color: #e6a23c;
}

.page-register > section .error {
  color: red;
}
