.m-life .m-life-pic {
  margin: 10px 10px 10px 0;
  width: 150px;
  height: 240px;
  background: url(//p0.meituan.net/codeman/e473bb428f070321269b23370ff02ba956209.jpg);
  background-size: 150px;
}

.m-life .m-life-login {
  margin: 10px 0 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 240px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.m-life .m-life-login .m-life-login-name {
  margin-bottom: 10px;
}

.m-life .m-life-login button {
  width: 118px;
  margin: 5px;
}

.m-life .m-life-login h4 img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 4px solid #E5E5E5;
}

.m-life .m-life-login p > button {
  width: 120px;
  margin-bottom: 15px;
}

.m-life .m-life-hotel,
.m-life .m-life-music {
  height: 165px;
  background: url(//p0.meituan.net/codeman/843d7347cb20d945e4bc39b6403f0515182965.png);
  background-size: 270px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 10px;
}

.m-life .m-life-music {
  background: url(//p1.meituan.net/codeman/16442c19da1f1c4544f794e29d99c92051716.jpg);
  margin-left: 0;
}

.m-life .m-life-coop {
  background: url(//p1.meituan.net/codeman/5b21cddb4bb1cbc3a9c3bce0f726c75940469.jpg);
  width: 150px;
  height: 165px;
  background-size: 150px;
}

.m-life .m-life-downapp {
  background: #fff;
  height: 165px;
  text-align: center;
}

.m-life .m-life-downapp img {
  width: 95px;
  height: 95px;
  margin-top: 10px;
}

.m-life .m-life-downapp p {
  font-size: 16px;
  color: #222;
  font-weight: 500;
}

.m-life .m-life-downapp h4 {
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
}

.m-life .m-life-downapp h4 span {
  color: #EC5330;
  margin-right: 5px;
}

.m-life .m-life-downapp h4 em {
  color: #3f3f3f;
  font-style: normal;
}
